<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cheerios</title>
  </head>
  <body>
    <nav>
      <a href="/homepage">Homepage</a>
      <a href="/jrice">Jollof rice</a>
      <a href="/lasagne">Lasagne</a>
      <a href="/plantain">Plantain</a>
    </nav>
    <h1>I really like cheerios!</h1>
    <img src="https://www.google.co.uk/imgres?imgurl=https%3A%2F%2Fwww.nestle-cereals.com%2Fza%2Fsites%2Fg%2Ffiles%2Fqirczx316%2Ff%2Fstage_visual%2Fcheerios_2048x1152_brand_visual_v2.png&imgrefurl=https%3A%2F%2Fwww.nestle-cereals.com%2Fza%2Fen%2Fproducts-promotions%2Fbrands%2Fcheerios-brand&docid=jTYFEH7Izws45M&tbnid=-nsbmK9r-pm1EM%3A&vet=10ahUKEwjoxMPRiKDeAhXlIcAKHS9DCOcQMwh9KBcwFw..i&w=2048&h=1152&bih=754&biw=1536&q=cheerios&ved=0ahUKEwjoxMPRiKDeAhXlIcAKHS9DCOcQMwh9KBcwFw&iact=mrc&uact=8" alt="Cheerios">
  </body>
</html>
