<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cheerios</title>
  </head>
  <body>
    <nav>
      <a href="/">Homepage</a>
      <a href="/jrice">Jollof rice</a>
      <a href="/lasagne">Lasagne</a>
      <a href="/plantain">Plantain</a>
    </nav>
    <h1>I really like cheerios!</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlVlyLT1t4jiMJNFDXLRFJwzOlapYsyTKtEuKZuL62g1qOorrLeQ" width = 300 height=300 alt="Cheerios">
  </body>
</html>
