<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jollof rice</title>
  </head>
  <body>
    <nav>
      <a href="/homepage">Homepage</a>
      <a href="/cheerios">Cheerios</a>
      <a href="/lasagne">Lasagne</a>
      <a href="/plantain">Plantain</a>
    </nav>
    <h2>Jollof rice is bae!</h2>
    <img src="http://sisijemimah.com/wp-content/uploads/2015/06/IMG_7971.jpg" alt="Jollof rice">
  </body>
</html>
