<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lasagne</title>
  </head>
  <body>
    <nav>
      <a href="/">Homepage</a>
      <a href="/jrice">Jollof rice</a>
      <a href="/cheerios">Cheerios</a>
      <a href="/plantain">Plantain</a>
    </nav>
    <h1>It has been a while since I had Lasagne</h1>
    <img src="https://scm-assets.constant.co/scm/unilever/e9dc924f238fa6cc29465942875fe8f0/28f996d1-0821-44ec-97de-2de86efa897c.jpg" alt="Lasagne">
  </body>
</html>
