<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lasagne</title>
  </head>
  <body>
    <nav>
      <a href="/homepage">Homepage</a>
      <a href="/jrice">Jollof rice</a>
      <a href="/cheerios">Cheerios</a>
      <a href="/plantain">Plantain</a>
    </nav>
    <h1>It has been a while since I had Lasagne</h1>
    <img src="https://www.google.co.uk/imgres?imgurl=https%3A%2F%2Fscm-assets.constant.co%2Fscm%2Funilever%2Fe9dc924f238fa6cc29465942875fe8f0%2F28f996d1-0821-44ec-97de-2de86efa897c.jpg&imgrefurl=http%3A%2F%2Fwww.flora.com%2Frecipes%2Fdetail%2F26317%2F1%2Flasagne-recipe&docid=8p5Mw4-OPVoNiM&tbnid=aEfZ1DmdA5KKnM%3A&vet=10ahUKEwiV58ufiaDeAhVIJ8AKHV63D-wQMwhDKAUwBQ..i&w=767&h=431&bih=754&biw=1536&q=lasagne&ved=0ahUKEwiV58ufiaDeAhVIJ8AKHV63D-wQMwhDKAUwBQ&iact=mrc&uact=8" alt="Lasagne">
  </body>
</html>
