<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plantain</title>
  </head>
  <body>
    <nav>
      <a href="/homepage">Homepage</a>
      <a href="/cheerios">Cheerios</a>
      <a href="/jrice">Jollof rice</a>
      <a href="/lasagne">Lasagne</a>
    </nav>

  </body>
</html>
